extends layout

block content
	#wrapper
		h1 Celina hat in
		div#countdown
			div#minutes
			span :
			div#seconds
		h1 Geburtstag
	#happyBirthday
		#message
			div.messageContent ALLES GUTE ZUM GEBURTSTAG

